<div class="sidebar well">
{{ site.description }}
<iframe src="http://ghbtns.com/github-btn.html?user=zhwbqd&type=follow&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
</div>

<div class="sidebar well">
    <h1>Related Posts</h1>
        {% for post in site.related_posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
</div>

<div class="sidebar well">
    <h1>Tags Cloud</h1>
	    {% for tag in site.tags %}
		<ul class="list-style-type:none">
			<li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70 }}%">
			<a href="/{{ tag | first | slugize }}/">
				{{ tag | first }}
			</a>
			</li>
		</ul>
	    {% endfor %}
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
